Package: com.chpwn.voiceactivator
Name: VoiceActivator
Pre-Depends: firmware (>= 4.0)
Depends: mobilesubstrate, gsc.armv7
Version: 0.9
Architecture: iphoneos-arm
Description: Custom Voice Control commands! 
Maintainer: chpwn <voiceactivator@chpwn.com>
Author: chpwn <voiceactivator@chpwn.com>
Section: Tweaks
